<article>
  <h1>Sign Up</h1>

  <form>
    <div>
      <label>Username: </label>
      <input type="username" name="username" id="username"/>
    </div>
      <div>
        <label>Email: </label>
        <input type="email" name="email" id="email"/>
      </div>
      <div>
        <label>Password: </label>
        <input type="password" name="password" id="password"/>
      </div>
      <div>
          <button type="submit">Login</button>
      </div>
  </form>
  <div>
    <p>Already have an account? Login <span routerLink="/login">here</span></p>
  </div>
</article>
